body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding-bottom: 60px;
}

.app_header {
  width: fit-content;
  height: 300px;
  margin: 100px auto 20px auto;
}

.app_header_logo {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.app_header_title {
  font-weight: 900;
  font-size: 40px;
  color: rgb(46, 46, 46);
}

.search_form {
  margin: 10px auto 20px auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  padding: 30px;
  border-radius: 30px;
  background-color: rgb(254, 224, 224);
  margin: 0 auto;
  width: 800px;
  border: 1px solid rgb(209, 49, 49);
}

.results {
  margin: 40px auto;
  width: 800px;
  background-color: rgb(242, 242, 242);
  border-radius: 30px;
  padding: 30px 60px;
  text-align: center;
}

.note_message {
  font-size: 0.8rem;
  color: rgb(255, 86, 86);
  width: 80%;
  margin: 20px 0;
}

.note_list_items {
  margin-bottom: 6px;
}

#search_field {
  font-size: 1.2rem;
  border-radius: 30px;
  border: 3px solid black;
  display: inline-block;
  width: 400px;
  padding: 12px 30px;
  margin-right: 10px;
}

#search_field::placeholder {
  font-size: 0.8rem;
}

.search_button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 2px 3px 6px 0 rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.search_button:hover {
  text-decoration: underline;
  transform: translateY(-1px);
}

.search_button:active {
  transform: scale(0.97);
}